@model TWI.InventoryAutomated.Models.StockCountModel
@{
    ViewBag.Title = @TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchTitle + " - Batch(es)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    @*border:2px #808080 solid;*@
    <div style="margin:auto;width:100% !important;max-width:100%;border:2px #808080 solid;">

        <div style="background-color: #808080;color: #ffffff;padding: 5px;height: 30px;" id="topHeading">
            <div style="font-weight:bold">@TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchTitle - Batch(es)</div>
            <a style="margin-top:-24px;float: right;color: white;" href='@Url.Action("Index", "StockCount")'><i class="fa fa-home fa-2x"></i></a>
        </div>
        <div style="width:100% !important;padding:10px;">
            <div style="padding-bottom:10px;width:100% !important" class="row col-sm-12">
                <div style="float:left;margin-left:15px;">
                    @Html.DropDownListFor(model => model.ID, ViewBag.BatchList as SelectList, new { @class = "form-control", @id = "ddlBatches", @name = "ddlBatches" })
                </div>
                <div style="float:right !important;padding-bottom:10px;margin-right:15px;">
                    <a class="btn btn-primary" style="width:70px;font-weight:600;" data-toggle="tooltip" title="Add New Batch" onclick="PopupForm('@Url.Action("NewStockCount", "StockCount")','N')">@TWI.InventoryAutomated.Resources.GlobalResource.Create</a>
                    <a class="btn btn-primary" style="width:70px;font-weight:600;margin-left:5px;" data-toggle="tooltip" title="Edit Batch" onclick="EditBatch();">@TWI.InventoryAutomated.Resources.GlobalResource.Edit</a>
                    <input type="submit" style="width:70px;margin-left:5px !important;font-weight:bold;" value="@TWI.InventoryAutomated.Resources.GlobalResource.Pull" class="btn btn-primary" title="Pull Data From NAV" onclick="PullData();" />
                    <input type="submit" style="width:70px;margin-left:5px !important;font-weight:bold;" value="@TWI.InventoryAutomated.Resources.GlobalResource.Push" class="btn btn-primary" title="Push Data To NAV" onclick="PushData();" />
                    <input type="submit" style="width:70px;margin-left:5px  !important;font-weight:bold;padding-left:7px;" value="@TWI.InventoryAutomated.Resources.GlobalResource.DeleteBatch" class="btn btn-danger" title="Remove Batch" onclick="Delete();" />
                </div>
            </div>
            <div style="float:left !important;margin-left:3px;" class="row col-sm-12">
                <div class="field_background1" style="width:100% !important;margin-bottom:5px;">
                    <div class="col-sm-5" style="padding-top:4px;" id="SCDesc">@TWI.InventoryAutomated.Resources.GlobalResource.Description: <span style="padding-left:3px;font-weight:400 !important"> @Html.DisplayFor(model => model.SCDesc) </span></div>
                    <div class="col-sm-4" style="padding-top:4px;" id="LocationCode">
                        @TWI.InventoryAutomated.Resources.GlobalResource.Location: <span style="padding-left:3px;font-weight:400 !important"> @Html.DisplayFor(model => model.LocationCode)</span>
                    </div>
                    <div class="col-sm-3" style="padding-top:4px;" id="Status">
                        @TWI.InventoryAutomated.Resources.GlobalResource.Status: <span style="padding-left:3px;font-weight:400 !important"> @Html.DisplayFor(model => model.Status) </span>
                    </div>
                </div>
                <div class="field_background1" style="width:100% !important;">
                    <div class="col-sm-5" style="padding-top:4px;" id="TotalItem">
                        @TWI.InventoryAutomated.Resources.GlobalResource.NAVEntries: <span style="padding-left:3px;font-weight:400 !important">
                            @{
                                var ItemLines = Convert.ToInt32(Model.TotalItemCount);
                            }
                            @Html.DisplayFor(model => ItemLines)
                        </span>
                    </div>
                    <div class="col-sm-4" style="padding-top:4px;" id="AdjTotalItem">
                        @TWI.InventoryAutomated.Resources.GlobalResource.ADJEntries: <span style="padding-left:3px;font-weight:400 !important">
                            @Html.DisplayFor(model => model.TotalAdjustmentItems)
                        </span>
                    </div>
                    <div class="col-sm-3" style="padding-top:4px;" id="Finalized">
                        @TWI.InventoryAutomated.Resources.GlobalResource.FinalQty: <span style="padding-left:3px;font-weight:400 !important">
                            @Html.DisplayFor(model => model.FinalizedLines)
                        </span>
                    </div>
                </div>
            </div>
            <div class="row col-sm-12" style="margin-left:2px;margin-top:70px;padding-bottom:10px;width:100% !important;">
                <ul id="tab_ul" class="tabs">
                    <li class="selected"><a rel="tab_div1" href="#" onclick="javascript:ShowMyDiv(this);">@TWI.InventoryAutomated.Resources.GlobalResource.NAVEntries</a></li>
                    <li class=""><a rel="tab_div2" href="#" onclick="javascript:ShowMyDiv(this);">@TWI.InventoryAutomated.Resources.GlobalResource.ADJEntries</a></li>
                </ul>
                <div class="tabcontents">
                    <div class="tabcontent" id="tab_div1" style="display: block;">
                        <table id="HeaderTable" class="table table-striped table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th class="datatable_col10PercH">Zone Code</th>
                                    <th class="datatable_col10PercH">Bin Code</th>
                                    <th class="datatable_col10PercH">Item No</th>
                                    <th class="datatable_col30PercH">Description</th>
                                    <th class="datatable_col10PercH">Lot No</th>
                                    <th class="datatable_col10PercH">Expiry Date</th>
                                    <th class="datatable_col10PercH">NAV Qty</th>
                                    <th class="datatable_col10PercH">Final Qty</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var _std in Model._stockCountItems.Where(x => x.TemplateName == "INV"))
                                {
                                    <tr>
                                        <td class="datatable_col10PercR">@_std.ZoneCode</td>
                                        <td class="datatable_col10PercR">@_std.BinCode</td>
                                        <td class="datatable_col10PercR"> @_std.ItemNo</td>
                                        <td class="datatable_col30PercR"> @_std.Description</td>
                                        <td class="datatable_col10PercR">@_std.LotNo</td>
                                        <td class="datatable_col10PercR">@_std.ExpirationDate</td>
                                        <td class="datatable_col10PercR">@_std.NAVQty</td>
                                        <td class="datatable_col10PercR">@_std.PhyicalQty</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tabcontent" id="tab_div2" style="display: none;">
                        <table id="ADJHeaderTable" class="table table-striped table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th class="datatable_col10PercH">Zone Code</th>
                                    <th class="datatable_col10PercH">Bin Code</th>
                                    <th class="datatable_col10PercH">Item No</th>
                                    <th class="datatable_col30PercH">Description</th>
                                    <th class="datatable_col10PercH">Lot No</th>
                                    <th class="datatable_col10PercH">Expiry Date</th>
                                    <th class="datatable_col10PercH"> NAV Qty</th>
                                    <th class="datatable_col10PercH">Final Qty</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var _std in Model._stockCountItems.Where(x => x.TemplateName == "ADJUST" || x.TemplateName == "ADJ" ))
                                {
                                    <tr>
                                        <td class="datatable_col10PercR">@_std.ZoneCode</td>
                                        <td class="datatable_col10PercR">@_std.BinCode</td>
                                        <td class="datatable_col10PercR"> @_std.ItemNo</td>
                                        <td class="datatable_col30PercR"> @_std.Description</td>
                                        <td class="datatable_col10PercR">@_std.LotNo</td>
                                        <td class="datatable_col10PercR">@_std.ExpirationDate</td>
                                        <td class="datatable_col10PercR">@_std.NAVQty</td>
                                        <td class="datatable_col10PercR">@_std.PhyicalQty</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <script>
                        function ShowMyDiv(Obj) {
                            var elements = document.getElementsByTagName('div');
                            for (var i = 0; i < elements.length; i++)
                                if (elements[i].className == 'tabcontent')
                                    elements[i].style.display = 'none';

                            document.getElementById(Obj.rel).style.display = 'block';
                            //------------------------------------

                            var ul_el = document.getElementById('tab_ul');
                            var li_el = ul_el.getElementsByTagName('li');
                            for (var j = 0; j < li_el.length; j++)
                                li_el[j].className = "";

                            Obj.parentNode.className = "selected";
                        }
                    </script>
                </div>


            </div>
            <div></div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
@*<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet" />*@

@section scripts{
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    @*<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>*@

    <script>
        var Popup, dataTable, adjdataTable;
        $(document).ready(function () {
                                    var currentCult = getCookie("Language");
            var Path = FetchPathforCultureFile(currentCult);
            dataTable = $("#HeaderTable").dataTable({
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]});
            adjdataTable = $("#ADJHeaderTable").dataTable({
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]});
            $("#ddlBatches").change(function () {
                var selectedbatch = $("#ddlBatches").val();
                RefreshData(selectedbatch);
            });
        });

        function EditBatch() {
            if ($("#ddlBatches").val() === "-1") {
                 $('<div></div>').appendTo('body')
                    .html("<div><h5>" + "@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchSelectionMandatory)" + "</h5></div>")
                    .dialog({
                        modal: true, title: '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchTitle + " - " + TWI.InventoryAutomated.Resources.GlobalResource.Edit)', zIndex: 10000, autoOpen: true, width: 500, resizable: true,
                        buttons: {
                            Ok: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                return;
            }

            PopupForm('/StockCount/NewStockCount?ID=' + $("#ddlBatches").val(),'E');
        }


        function PopupForm(url,title) {
            var formDiv = $('<div/>');
                $.get(url)
                    .done(function (response) {
                        formDiv.html(response);
                        var formtitle = '';
                        if (title === 'N') { formtitle = '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchTitle + " - " + TWI.InventoryAutomated.Resources.GlobalResource.Create)'; }
                        else { formtitle = '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchTitle + " - " + TWI.InventoryAutomated.Resources.GlobalResource.Edit)';  }

                        Popup = formDiv.dialog({
                            autoOpen: true,
                            title: formtitle,
                            modal: true
                            //,
                            //width: 'auto',
                            //close: function () {
                            //    Popup.dialog('destroy').remove();
                            //}
                            //,
                            //create: function (event, ui) {
                            //    $(this).css("maxWidth", "660px");
                            //}

                        });
                    });
        }

        function PushData() {
            var currentCult = getCookie("Language");
            var Path = FetchPathforCultureFile(currentCult);
            if ($("#ddlBatches").val() === "-1") {
                $('<div></div>').appendTo('body')
                    .html("<div><h5>" + '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchSelectionMandatory)' + "</h5></div>")
                    .dialog({
                        modal: true, title: '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchTitle + " - Push To NAV")', zIndex: 10000, autoOpen: true, width: 500, resizable: true,
                        buttons: {
                            Ok: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                return;
            }

            $('<div></div>')
                .appendTo('body')
                .html("<div><h5>" + "@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchDataPushConfirmation)" + "</h5></div>")
                .dialog({
                    modal: true, title: '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchTitle + " - Push To NAV")', zIndex: 10000, autoOpen: true,
                    width: 500, resizable: true,
                    buttons: {
                        Yes: function () {
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("PushPhyJournalData", "StockCount")/' + $("#ddlBatches").val(),
                                success: function (data) {

                                    $('<div></div>').appendTo('body')
                                        .html("<div><h5>" + data + "</h5></div>")
                                        .dialog({
                                            modal: true, title: '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchTitle + " - Push To NAV")', zIndex: 10000, autoOpen: true, width: 500, resizable: true,
                                            buttons: {
                                                Ok: function () {
                                                    $(this).dialog("close");
                                                }
                                            }
                                        });
                                    @*$.ajax({
                                        url: "/StockCount/GetStockCountHeaderDetailByID?ID=" + $("#ddlBatches").val(),
                                        type: "GET",
                                        datatype: "json",
                                        success: function (data) {
                                            //console.log(data);
                                            if (data.data === null) {
                                                $("#LocationCode").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.Location)' + ': '); $("#SCDesc").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.Description)' + ': '); $("#TotalItem").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.NAVEntries)' + ': ');
                                                $("#AdjTotalItem").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.ADJEntries)' + ': ');
                                                $("#Status").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.Status)' + ': ');
                                            }
                                            else {
                                                $("#LocationCode").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.Location)' + ': <span style="padding-left:10px;font-weight:400 !important">' + data.data.LocationCode + ' </span>');
                                                $("#SCDesc").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.Description)' +': <span style="padding-left:10px;font-weight:400 !important">' + data.data.SCDesc + ' </span>');
                                                $("#TotalItem").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.NAVEntries)' + ': <span style="padding-left:10px;font-weight:400 !important">' + data.data.TotalItemCount + '</span>');
                                                $("#AdjTotalItem").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.ADJEntries)' + ': <span style="padding-left:10px;font-weight:400 !important">' + data.data.TotalAdjustmentItems + '</span>');
                                                $("#Status").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.Status)' +': <span style="padding-left:10px;font-weight:400 !important">' + data.data.Status + ' </span>');
                                            }
                                        }
                                    });*@
                                }
                            });
                            $(this).dialog("close");
                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
        }


        function PullData() {
            var currentCult = getCookie("Language");
            var Path = FetchPathforCultureFile(currentCult);
            if ($("#ddlBatches").val() === "-1") {

                $('<div></div>').appendTo('body')
                    .html("<div><h5>" + "@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchSelectionMandatory)" + "</h5></div>")
                    .dialog({
                        modal: true, title: '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchTitle + " - Pull From NAV")', zIndex: 10000, autoOpen: true, width: 500, resizable: true,
                        buttons: {
                            Ok: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                 return;
            }
            $('<div></div>')
                .appendTo('body')
                .html("<div><h5>" + "@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchExistingDataOverwrite)" + "</h5></div>")
                .dialog({
                    modal: true, title: '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchTitle + " - Pull From NAV")', zIndex: 10000, autoOpen: true,
                    width: 500, resizable: true,
                    buttons: {
                        Yes: function () {
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("GetPhyJournalData", "StockCount")/' + $("#ddlBatches").val(),
                                success: function (data) {

                                    $('<div></div>').appendTo('body')
                                        .html("<div><h5>" + data + "</h5></div>")
                                        .dialog({
                                            modal: true, title: '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchTitle + " - Pull From NAV")', zIndex: 10000, autoOpen: true, width: 500, resizable: true,
                                            buttons: {
                                                Ok: function () {
                                                    $(this).dialog("close");
                                                }
                                            }
                                        });
                                    RefreshData($("#ddlBatches").val());
                                }
                            });
                            $(this).dialog("close");
                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });

        }



        function Cancelbutton() {
            Popup.dialog('destroy').remove();
        }

        $(document).on("click", "[type='checkbox']", function (e) {
            var chk = $(this);
            var hdnStatus;
            if (chk.is(':checked')) {
                $('input[name="Status"]').val('C');
            }
            else {
                $('input[name="Status"]').val('O');
            }
        });



        function SubmitForm(form) {

            $.validator.unobtrusive.parse(form);
            
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            var batchId = $("#ddlBatches").val();                
                             $('<div></div>').appendTo('body')
                            .html("<div><h5>" + data.message + "</h5></div>")
                            .dialog({
                            modal: true, title: '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchTitle)', zIndex: 10000, autoOpen: true, width: 500, resizable: true,
                            buttons: {
                                Ok: function () {
                                    window.location.href = "/StockCount/NAVDataPull?ID=" + batchId;
                                    $(this).dialog("close");
                                }
                            }
                           });
                            //ShowDialog(data.message);
                            //RefreshBatchList();
                            //Popup.dialog('close');
                        }
                        else {
                            ShowDialog(data.message);
                            //window.location.href = "/StockCount/NAVDataPull?ID=" + batchId;
                            //alert(data.message);
                        }
                    }
                });
            }
            return false;
        }

        function ShowDialog(data) {
            $('<div></div>').appendTo('body')
                            .html("<div><h5>" + data + "</h5></div>")
                .dialog({
                    modal: true, title: '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchTitle)', zIndex: 10000, autoOpen: true, width: 500, resizable: true,
                            buttons: {
                                       Ok: function () {
                                       $(this).dialog("close");
                                     }
                            }
                           });
        }


        function Delete() {
            var currentCult = getCookie("Language");
            var Path = FetchPathforCultureFile(currentCult);

            if ($("#ddlBatches").val() === "-1") {

                $('<div></div>').appendTo('body')
                    .html("<div><h5>" + "@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchSelectionMandatory)" + "</h5></div>")
                    .dialog({
                        modal: true, title: '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchTitle + " - Remove Batch")', zIndex: 10000, autoOpen: true, width: 500, resizable: true,
                        buttons: {
                            Ok: function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                 return;
            }

            $('<div></div>').appendTo('body')
                .html("<div><h5>" + "@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgDeleteRecord)" + "</h5></div>")
                .dialog({
                    modal: true, title:  '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchTitle + " - Remove Batch")', zIndex: 10000, autoOpen: true,
                    width: 'auto', resizable: false,
                    buttons: {
                        Yes: function () {
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("DeleteStockCountBatch", "StockCount")/' + $("#ddlBatches").val(),
                                success: function (data) {
                                    if (data.success) {
                                        //dataTable.ajax.reload();
                                         $('<div></div>').appendTo('body')
                                            .html("<div><h5>" + data.message + "</h5></div>")
                                            .dialog({
                                                modal: true, title: '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchTitle + " - Remove Batch")', zIndex: 10000, autoOpen: true, width: 500, resizable: true,
                                                buttons: {
                                                    Ok: function () {
                                                        $(this).dialog("close");
                                                    }
                                            }
                                            });

                                        RefreshBatchList();
                                        //RefreshData(-1);
                                        //alert(data.message);
                                    }
                                    else
                                        ShowDialog(data.message);
                                        //alert(data.message);
                                }

                                });

                            $(this).dialog("close");
                        },
                        No: function () {

                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });

        }

        function RefreshData(ID) {
            var currentCult = getCookie("Language");
            var Path = FetchPathforCultureFile(currentCult);
            $.ajax({
                url: "/StockCount/GetStockCountHeaderDetailByID?ID=" + ID,
                type: "GET",
                datatype: "json",
                async : true,
                success: function (data) {
                    if (data.data === null) {
                        $("#LocationCode").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.Location)' + ': '); $("#SCDesc").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.Description)' + ': '); $("#TotalItem").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.NAVEntries)' + ': ');
                        $("#AdjTotalItem").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.ADJEntries)' + ': ');
                        $("#Status").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.Status)' + ': ');
                        $("#Finalized").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.FinalQty)' + ': ');
                    }
                    else {
                        $("#LocationCode").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.Location)' + ': <span style="padding-left:10px;font-weight:400 !important">' + data.data.LocationCode + ' </span>');
                        $("#SCDesc").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.Description)' +': <span style="padding-left:10px;font-weight:400 !important">' + data.data.SCDesc + ' </span>');
                        $("#TotalItem").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.NAVEntries)' + ': <span style="padding-left:10px;font-weight:400 !important">' + data.data.TotalItemCount + '</span>');
                        $("#AdjTotalItem").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.ADJEntries)' + ': <span style="padding-left:10px;font-weight:400 !important">' + data.data.TotalAdjustmentItems + '</span>');
                        $("#Status").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.Status)' + ': <span style="padding-left:10px;font-weight:400 !important">' + data.data.Status + ' </span>');
                        $("#Finalized").html('@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.FinalQty)' + ': <span style="padding-left:10px;font-weight:400 !important">' + data.data.FinalizedLines  + '</span>');
                    }

                    datatable = $("#HeaderTable").dataTable({
                        "destroy": true,
                        "buttons": ['copy', 'csv', 'excel', 'pdf', 'print'],
                        "ajax": {
                            "url": "/StockCount/GetStockCountDetail",
                            "data": { ID:ID,entrytype:'INV'},
                            "type": "GET",
                            "datatype": "json",
                            "async": true
                        },
                        "columns": [
                            { "data": "ZoneCode", "className":"datatable_col10PercR" },
                            { "data": "BinCode", "className": "datatable_col10PercR" },
                            { "data": "ItemNo", "className": "datatable_col10PercR" },
                            { "data": "Description", "className": "datatable_col30PercR" },
                            { "data": "LotNo", "className": "datatable_col10PercR" },
                            { "data": "ExpirationDate", "className": "datatable_col10PercR" },
                            { "data": "NAVQty", "className": "datatable_col10PercR" },
                            { "data": "PhyicalQty", "className": "datatable_col10PercR" }],

                        "aaSorting": [[4, "desc"]],
                        "responsive": true,
                        "language": {
                            "emptyTable": "No data found, Please click on <b>Pull</b> Button to retrieve Batch Data from NAV ERP",
                            "url": Path
                        }
                    });

                    adjdataTable = $("#ADJHeaderTable").dataTable({
                        "destroy": true,
                        "buttons": ['copy', 'csv', 'excel', 'pdf', 'print'],
                        "ajax": {
                            "url": "/StockCount/GetStockCountDetail",
                            "data": { ID: ID, entrytype: 'ADJUST' },
                            "type": "GET",
                            "datatype": "json",
                            "async": true
                        },
                        "columns": [
                            { "data": "ZoneCode", "className": "datatable_col10PercR" },
                            { "data": "BinCode", "className": "datatable_col10PercR" },
                            { "data": "ItemNo", "className": "datatable_col10PercR"  },
                            { "data": "Description", "className": "datatable_col30PercR"  },
                            { "data": "LotNo", "className": "datatable_col10PercR"  },
                            { "data": "ExpirationDate", "className": "datatable_col10PercR"  },
                            { "data": "NAVQty", "className": "datatable_col10PercR"  },
                            { "data": "PhyicalQty", "className": "datatable_col10PercR"  }],

                        "aaSorting": [[4, "desc"]],
                        "responsive": true,
                        "language": {
                            "emptyTable": "Zero adjustments posted for the selected batch.",
                            "url": Path
                        }
                    });

                }
            });
        }

        function RefreshBatchList() {
            $.ajax({
                url: "/StockCount/GetBatchList",
                Type : "GET",
                datatype: "json",
                success: function (data) {
                    //console.log(data);
                    $("#ddlBatches").empty();
                    for (var i = 0; i < data.length; i++) {
                        var opt = new Option(data[i].SCCode, data[i].ID);
                        $("#ddlBatches").append(opt);
                    }
                    RefreshData(-1);
                }
            });
        }

    </script>
}
