@model TWI.InventoryAutomated.Models.AdminStockCountSheetModel
@{
    ViewBag.Title = @TWI.InventoryAutomated.Resources.GlobalResource.MsgBatchIterationTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />
<div class="row" style="border:2px #808080 solid;">
    <div style="margin:auto;width:100% !important;max-width:100%;border:2px #808080 solid;">
        <div style="background-color: #808080;color: #ffffff;padding: 5px;height: 30px;" id="topHeading">
            <div style="font-weight:bold">Stock Count Sheet </div>
            <a style="margin-top:-24px;float: right;color: white;" href='@Url.Action("Index", "StockCount")'><i class="fa fa-home fa-2x"></i></a>
        </div>
        <div style="float:left !important;width:100% !important;margin:15px;">
            <div class="row col-sm-12" style="float:left !important;width:100% !important;">
                <div class="field_background1" style="margin-bottom:5px;">
                    <div class="col-sm-4" style="padding-top:3px;" id="SCCode">Batch Code: <span style="padding-left:3px;font-weight:400 !important"> @Html.DisplayFor(model => model.SCCode) </span></div>
                    <div class="col-sm-4" style="padding-top:5px;" id="SCDesc">Description: <span style="padding-left:3px;font-weight:400 !important"> @Html.DisplayFor(model => model.SCDesc) </span></div>
                    <div class="col-sm-4" style="padding-top:4px;" id="LocationCode">Location: <span style="padding-left:3px;font-weight:400 !important"> @Html.DisplayFor(model => model.LocationCode)</span></div>
                </div>
                <div class="field_background1" style="">
                    <div class="col-sm-4" style="padding-top:3px;" id="Status">Status : <span style="padding-left:3px;font-weight:400 !important"> @Html.DisplayFor(model => model.Status) </span></div>
                    <div class="col-sm-4" style="padding-top:5px;" id="CountName">Count Name: <span style="padding-left:3px;font-weight:400 !important">@Html.DisplayFor(model => model.CountName)  </span></div>
                    <div class="col-sm-4" style="padding-top:4px;" id="TeamCode">Team Code : <span style="padding-left:3px;font-weight:400 !important"> @Html.DisplayFor(model => model.TeamCode) </span></div>
                </div>
            </div>
        </div>
        <div  style="float:left;width:100% !important;margin:15px;">
            <div class="row" style="margin:10px !important;">
                <div style="float:left;margin-right:10px;">
                    @Html.DropDownList("ZoneCodes", ViewBag.ZoneCodes as SelectList, new { @class = "form-control", @id = "ddlZoneCodes" })
                </div>
                <div style="float:left;margin-right:10px;">
                    @Html.DropDownList("BinCodes", ViewBag.BinCodes as SelectList, new { @class = "form-control", @id = "ddlBinCodes" })
                </div>
                <div style="float:left;margin-right:10px;">
                    @*@Html.Label("Item No", new { @class = "control-label" })*@
                    <input type="text" class="form-control" placeholder="Enter Item No" id="txtItemNo" name="txtItemNo" width="175" />
                </div>
                <div style="float:left;margin-right:10px;">
                    @*@Html.Label("Lot No", new { @class = "control-label" })*@
                    <input type="text" class="form-control" placeholder="Enter Lot Not" id="txtLotNo" name="txtLotNo" width="175" />
                </div>
                <div style="float:left;margin-right:10px;">
                    <input type="text" class="form-control" placeholder="Enter Expiry Date" id="txtExpDate" name="txtExpDate" width="175" />
                </div>
                <div style="float:left;margin-right:10px;">
                    @*@Html.Label("Lot No", new { @class = "control-label" })*@
                    <input type="text" class="form-control" placeholder="Enter Qty found" id="txtPhyQty" name="txtLotNo" width="80" />
                </div>
                <div style="float:left;">
                    <a class="btn btn-primary fa fa-save fa-2x" style="width:50px;height:33px;padding-top:2px;" data-toggle="tooltip" title="" onclick="SaveAdjustments();"></a>
                </div>


            </div>
        </div>
            <div style="float:left;width:100% !important;margin:15px;">
                <div class="row col-sm-12">
                    <table id="HeaderTable" class="table table-striped table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th class="datatable_col5PercH">Doc Type</th>
                                <th class="datatable_col10PercH">Zone Code</th>
                                <th class="datatable_col10PercH">Bin Code</th>
                                <th class="datatable_col10PercH"> Item No</th>
                                <th class="datatable_col30PercH">Description</th>
                                <th class="datatable_col10PercH">Lot No</th>
                                <th class="datatable_col10PercH">Expiry Date</th>
                                <th class="datatable_col10PercH">Phy. Qty</th>
                                <th class="datatable_col5PercH"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{

    <script type="text/javascript" charset="utf-8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

    <script>

        var Popup, dataTable;
        $(document).ready(function () {
            var currentCult = getCookie("Language");
            var Path = FetchPathforCultureFile(currentCult);

            $("#txtExpDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mmm/yy'
            });
            RefreshAllocationList('@Convert.ToInt32(Session["TeamID"])');
        });

        function UpdatePhysicalQty(ID)
        {
            Popup = PopupForm('/StockCount/UpdatePhysicalQty?ID=' + ID);
        }

        function RefreshAllocationList(TeamID) {
            var currentCult = getCookie("Language");
            var Path = FetchPathforCultureFile(currentCult);
            datatable = $("#HeaderTable").dataTable({
                "destroy" : true,
                "ajax": {
                    "url": "/StockCount/GetAllocatedItemsByTeamID?TeamID=" + TeamID,
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "DocType", "orderable": false, "searchable": false, "width" : '5%'},
                    { "data": "ZoneCode", "orderable": false, "searchable": true, "width": '10%' },
                    { "data": "BinCode", "orderable": false, "searchable": true, "width": '10%'},
                    { "data": "ItemNo", "orderable": false, "searchable": true, "width": '10%'},
                    { "data": "Description", "orderable": false, "searchable": false, "width": '30%'},
                    { "data": "LotNo", "orderable": false, "searchable": false, "width": '10%'},
                    { "data": "ExpirationDate", "orderable": false, "searchable": false, "width": '10%'},
                    { "data": "PhysicalQty", "orderable": false, "searchable": false, "width": '5%'},
                    {
                        "data": "ID", "render": function (data) {
                            return '<a class="btn btn-primary fa fa-edit" style="float:left;width:20px!important;height:20px!important;vertical-align:middle!important;padding-top:2px;padding-left:4px;" alt="Delete Item" onclick="UpdatePhysicalQty(' + data + ');"></a>';
                        }
                        , "orderable": false, "searchable": false
                    }
                ],
                "aaSorting": [[4, "desc"]],
                "responsive": true,
                "language": {
                    "emptyTable": "No Items allocated to this team, Kindly contact your administrator",
                    "url": Path
                }
            });
        }


        function SaveAdjustments() {
            var zonecode = $("#ddlZoneCodes").val();
            var bincode = $("#ddlBinCodes").val();
            var itemno = $("#txtItemNo").val();
            var lotno = $("#txtLotNo").val();
            var expdate = $("#txtExpDate").val();
            var teamId = '@Convert.ToInt32(Session["TeamID"])';
            var Qty = $("#txtPhyQty").val();
            $.ajax({
                url: "/StockCount/SaveAdjustments",
                datatype: "json",
                type: "GET",
                async: true,
                data: { TeamID: teamId, Zonecode: zonecode, BinCode: bincode, ItemNo: itemno, LotNo: lotno, ExpDate: expdate, Qty: Qty },
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                        RefreshAllocationList('@Convert.ToInt32(Session["TeamID"])');
                    }
                    else {
                        alert(data.message);
                    }
                }
            });
        }




        function PopupForm(url) {
            var formDiv = $('<div/>');
                $.get(url)
                    .done(function (response) {
                        formDiv.html(response);

                        Popup = formDiv.dialog({
                            autoOpen: true,
                            title: '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.StockCountSheetAdmin + " - Select Item(s)")',
                            modal: true,
                           //,
                            //width: 'auto',
                            //close: function () {
                            //    Popup.dialog('destroy').remove();
                            //}
                            //,
                            //create: function (event, ui) {
                            //    $(this).css("maxWidth", "660px");
                            //}

                        });
                    });
        }


        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            alert(data.message);
                            Popup.dialog('close');
                            RefreshAllocationList('@Convert.ToInt32(Session["TeamID"])');
                        }
                        else {
                            //ShowDialog(data.message);
                            alert(data.message);
                        }
                    }
                });
            }
            return false;
        }

        function Cancelbutton() {
            Popup.dialog('destroy').remove();
        }

    </script>
}
