@model List<TWI.InventoryAutomated.Models.StockCountAllocations>

@{
    ViewBag.Title = @TWI.InventoryAutomated.Resources.GlobalResource.StockCountSheet;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(canPage: true, rowsPerPage: 10);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/jquery-editable-select.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="row" style="border:2px #808080 solid;">
    <div style="margin:auto;width:100% !important;max-width:100%;">
        <div style="background-color: #808080;color: #ffffff;padding: 5px;height: 30px;" id="topHeading">
            <div style="font-weight:bold">Stock Count Sheet - @ViewBag.CountInfo</div>
            <a style="margin-top:-24px;float: right;color: white;" href='@Url.Action("Index", "StockCount")'><i class="fa fa-home fa-2x"></i></a>
        </div>
        @*<div style="float:left !important;width:100% !important;margin:15px;">
                <div class="row col-sm-12" style="float:left !important;width:100% !important;">
                    <div class="field_background1" style="margin-bottom:5px;">
                        <div class="col-sm-4" style="padding-top:3px;" id="SCCode">Batch Code: <span style="padding-left:3px;font-weight:400 !important"> @Html.DisplayFor(model => model.SCCode) </span></div>
                        <div class="col-sm-4" style="padding-top:5px;" id="SCDesc">Description: <span style="padding-left:3px;font-weight:400 !important"> @Html.DisplayFor(model => model.SCDesc) </span></div>
                        <div class="col-sm-4" style="padding-top:4px;" id="LocationCode">Location: <span style="padding-left:3px;font-weight:400 !important"> @Html.DisplayFor(model => model.LocationCode)</span></div>
                    </div>
                    <div class="field_background1" style="">
                        <div class="col-sm-4" style="padding-top:3px;" id="Status">Status : <span style="padding-left:3px;font-weight:400 !important"> @Html.DisplayFor(model => model.Status) </span></div>
                        <div class="col-sm-4" style="padding-top:5px;" id="CountName">Count Name: <span style="padding-left:3px;font-weight:400 !important">@Html.DisplayFor(model => model.CountName)  </span></div>
                        <div class="col-sm-4" style="padding-top:4px;" id="TeamCode">Team Code : <span style="padding-left:3px;font-weight:400 !important"> @Html.DisplayFor(model => model.TeamCode) </span></div>
                    </div>
                </div>
            </div>*@

        <div class="row col-sm-12" style="margin-top:10px;">
            <a class="btn btn-primary" style="float:left !important;width:90px;height:55px;margin:0 0 10px 25px ;padding-left:7px;padding-top:5px;text-align:center;font-weight:bold;" onclick="ShowAdjustment();">@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.buttonAdjustment)</a>
            <div id="divAdjustments" style="float:left;width:60% !important;margin :0  5px 0 15px;display:none;border:1px solid #828282;border-radius:5px;">
                <div class="row" style="margin:10px 10px 0 10px !important;">
                    @*<div style="float:left;margin-right:10px;" id="divZoneCode;" >
            @Html.DropDownList("ZoneCodes", ViewBag.ZoneCodes as SelectList, new { @class = "form-control", @id = "ddlZoneCodes" })
        </div>*@
                    <div style="float:left;margin-right:10px;" id="divBinCode">
                        @Html.DropDownList("BinCodes", ViewBag.BinCodes as SelectList, new { @class = "form-control", @id = "ddlBinCodes", @placeholder = " Select Bin" })
                    </div>
                    <div style="float:left;margin-right:10px;margin-bottom:10px;">
                        @*<input type="hidden" value="0" id="hdnAdj" />*@
                        <input type="text" class="form-control" placeholder="Item No" id="txtItemNo" name="txtItemNo" style="width:200px !important" />
                        @*@Html.DropDownList("ddlItems", ViewBag.Items as SelectList, new { @class = "form-control", @id = "ddlItems", @placeholder = " Select Item" })*@
                    </div>
                    @*<div style="float:left;margin-right:10px;margin-bottom:10px;">
                        <input type="text" class="form-control" placeholder="Item No" id="txtItemNo" name="txtItemNo" style="width:100px !important" />
                    </div>*@
                    <div style="float:left;margin-right:10px;margin-bottom:10px;">
                        <input type="text" class="form-control" placeholder="Lot No" id="txtLotNo" name="txtLotNo" style="width:100px !important" />
                    </div>
                    <div style="float:left;margin-right:10px;margin-bottom:10px;">
                        <input type="text" class="form-control" placeholder="Expiry Date" id="txtExpDate" name="txtExpDate" style="width:100px !important" />
                    </div>
                    <div style="float:left;margin-right:10px;margin-bottom:10px;">
                        <input type="text" class="form-control" placeholder="Enter Qty" id="txtPhyQty" name="txtPhyQty" style="width:90px !important" maxlength="7" />
                    </div>
                    <div style="float:left;margin-bottom:10px;">
                        <a class="btn btn-primary" style="width:50px;height:33px;padding-left:7px;padding-top:5px;text-align:center;font-weight:bold;" onclick="SaveAdjustments();">Save</a>
                        <a class="btn btn-primary" style="width:60px;height:33px;padding-left:7px;padding-top:5px;text-align:center;font-weight:bold;" onclick="CancelAdjustment();">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" style="margin-top:5px;">
            <div id="divsummary" style="float:left !important;margin-left:10px; margin-top:1px;padding-top:4px;text-align:center;font-weight:600;font-family:Calibri;width:400px;background-color:#EEEEEE;color:black; border-width: thin;border-style: solid;border-color: #828282;border-radius:3px;height:32px;">@ViewBag.SummaryInfo</div>
            @using (Html.BeginForm("StockCountSheetTest", "StockCount", FormMethod.Get, new { @class = "navbar-form navbar-right" }))
            {
                <div class="form-group">
                    <input type="text" name="search" value="@ViewBag.Search" class="form-control" placeholder="Search Zone, Bin, Item" style="margin-left:-5px;" />
                </div>
                <button type="submit" value="Search" class="btn btn-primary" style="font-weight:600;">Search</button>

            }
        </div>
        <div style="float:left;width:100% !important;margin:10px 0 0 15px;">
            <div style="margin:0 40px 10px 10px !important;font-family:Calibri;font-size:13px;">
                @grid.Table(
                    tableStyle: "table table-responsive table-bordered",
                    columns: grid.Columns(
                      grid.Column(columnName: "DocType", header: "Doc Type"),
                      grid.Column(columnName: "ZoneCode", header: "Zone Code"),
                      grid.Column(columnName: "BinCode", header: "Bin Code"),
                      grid.Column(columnName: "ItemNo", header: "Item No"),
                      grid.Column(columnName: "Description", header: "Description"),
                      grid.Column(columnName: "UOMCode", header: "UOM"),
                      grid.Column(columnName: "LotNo", header: "Lot No"),
                      grid.Column(columnName: "ExpirationDate", header: "Expiry Date"),
                      grid.Column(columnName: "PhysicalQty", header: "Phy. Qty",format:@<text><div class="edit" data-id="@item.ID" data-propertyname="PhysicalQty">@item.PhysicalQty</div></text>)
)
)
                <span style="text-align:center;font-weight:600;font-family:Calibri;width:120px;height:25px;"> @ViewBag.TotalPages</span>
                <div class="row">
                    <div class="col-sm-6" style="float:left;">
                        @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
                    </div>
                </div>

                @Html.Hidden("dir", grid.SortDirection)
                @Html.Hidden("col", grid.SortColumn)
                @Html.HiddenFor(x => x.FirstOrDefault().TeamID)

            </div>
            <div></div>
        </div>
    </div>
</div>

@section scripts
    {
    <script type="text/javascript" charset="utf-8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    @*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="https://www.appelsiini.net/download/jquery.jeditable.js"></script>*@
    <script src="~/Scripts/jquery.jeditable.js"></script>
    <script src="~/Scripts/jquery-editable-select.min.js"></script>
    <script src="~/Scripts/bootstrap-suggest.js"></script>
    <script>
        $(function () {
            var dir = $('#dir').val();
            var col = $('#col').val();
            var header = $("th a[href*=" + col + "]");
            if (dir === "Ascending") {
                header.text(header.text() + "  ▲");
            }
            if (dir === "Descending") {
                header.text(header.text() + "  ▼");
            }
        });

        $(document).ready(function () {

            var currentCult = getCookie("Language");
            var Path = FetchPathforCultureFile(currentCult);
            var oldvalue = '';
            $('.edit').editable('/StockCount/UpdateQty', {
                cssclass: 'jeditForm',
                width: '60px',
                maxlength:7,
                height: 'none',
                onsubmit: function (settings, original) {
                    oldvalue = original.revert;
                },
                submitdata: function () {
                    return {
                        id: $(this).data('id'),
                        PropertyName: $(this).data('propertyname')
                    };
                },
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) {
                        $(this).text(jsonData.value);

                        $.ajax({
                            url: "/StockCount/UpdateNAVEntriesCount?TeamID=" + '@Html.Raw(Convert.ToInt32(Session["TeamID"]))',
                            type: "GET",
                            datatype: "JSON",
                            success: function (data) {
                                console.log(data);
                                $("#divsummary").html(data.data);
                            }
                        });
                    }
                    else {
                        $(this).text(oldvalue);
                    }
                }
            });

            $.ajax({
                url: "/StockCount/GetItemList",
                type: "GET",
                datatype: "Json",
                success: function (data) {
                    console.log(data);
                    $("#txtItemNo").autocomplete({
                        source: data,
                        minLength: 2,
                        maxLength: 10
                        //,
                        //select: function (event, ui) {
                        //    $("#txtItemNo").val(ui.item.val().split('-')[0]);
                        //    //$("#" + idTextBox).val(ui.item.value);
                            
                        //} 
                    });
                }
            });
            //$("#txtItemNo").bsSuggest({
            //    searchFields:["shortAccount"],
            //    IdField: "userId",
            //    keyField: "userName",
            //    data: {
            //        "message": "",
            //        "value": [
            //            { "userName": "Mark", "shortAccount": "chunyun", "userId": 20001 },
            //            { "userName": "orion-01", "shortAccount": "orion-01", "userId": 20000 },
            //            { "userName": "Otto","shortAccount": "muxiaochen", "userId": 20002}
            //            ],
            //        "code": 200,
            //        "redirect": ""
            //    }
            //});




            $(".edit").keypress(function (e) {
                if (e.which === 46) {
                    if ($(this).val().indexOf('.') !== -1) {
                        return false;
                    }
                }

                if (e.which !== 8 && e.which !== 0 && e.which !== 46 && e.which !== 13 && (e.which < 48 || e.which > 57)) {
                    return false;
                }

            });

            $("#txtPhyQty").keypress(function (e) {
                if (e.which === 46) {
                    if ($(this).val().indexOf('.') !== -1) {
                        return false;
                    }
                }

                if (e.which !== 8 && e.which !== 0 && e.which !== 46 && e.which !== 13 && (e.which < 48 || e.which > 57)) {
                    return false;
                }

            });

            //$("#txtLotNo").keypress(function (e) {
            //    if (e.which === 46) {
            //        if ($(this).val().indexOf('.') !== -1) {
            //            return false;
            //        }

            //        if ($(this).val().indexOf('/') !== -1) { return false; }
            //    }


            //    //if ((e.which >= 65 || e.which <= 90) && (e.which)){
            //    //    return true;
            //    //}

            //    if (e.which !== 8 && e.which !== 0 && e.which !== 46 && e.which !== 13 && (e.which <48 || e.which > 57) && e.which > 122) {
            //        return false;
            //    }

            //});

            $("#ddlZoneCodes").hide();
            $("#ddlBinCodes").editableSelect({ effects: 'slide' });
            //$("#ddlItems").editableSelect({ effects: 'slide' });
            //$("#ddlItems").editableSelect({ effects: 'slide' });

            //$("#ddlZoneCodes").change(function () {

            //    var zonecode = $("#ddlZoneCodes").val();

            //    if (zonecode === '-- Select Zone --' || zonecode === '-1') {
            //        $("#ddlBinCodes").empty();
            //        var opt = new Option('-- Select Bin --', '-1');
            //        $("#ddlBinCodes").append(opt);
            //        $("#txtItemNo").empty();
            //        $("#txtLotNo").empty();
            //        $("#txtPhyQty").empty();
            //        $("#txtExpDate").empty();
            //    }
            //    else {
            //        alert($("#ddlZoneCodes").val());
            //        $.ajax({
            //            url: "/StockCount/GetBinsByTeamID?ZoneCode=" + zonecode,
            //            type: "GET",
            //            datatype: "Json",
            //            success: function (data) {
            //                $("#ddlBinCodes").empty();
            //                $("#txtItemNo").empty();
            //                $("#txtLotNo").empty();
            //                $("#txtPhyQty").empty();
            //                $("#txtExpDate").empty();
            //                for (var i = 0; i < data.length; i++) {
            //                    var binopt = new Option(data[i], data[i]);
            //                    $("#ddlBinCodes").append(binopt);
            //                }
            //            }
            //            //error: function (data) {

            //            //}
            //        });
            //    }
            //});

            //$('#ddlItems')
            //    .editableSelect()
            //    .on('select.editable-select', function (e, li) {
            //        var textvalue = li.text();
            //        li.text(textvalue.split('-')[0]);
            //        console.log(textvalue.split('-')[0]);
            //    });

            $("#txtExpDate").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy'
            });
        });

         function SaveAdjustments() {
             //var zonecode = $("#ddlZoneCodes").val();
             var zonecode ='';
            var bincode = $("#ddlBinCodes").val();
             //var itemno = $("#ddlItems").val().split('-')[0];
             var itemno = $("#txtItemNo").val().split('-')[0];
            var lotno = $("#txtLotNo").val();
            var expdate = $("#txtExpDate").val();
            var teamId = '@Convert.ToInt32(Session["TeamID"])';
            var Qty = $("#txtPhyQty").val();

             $.ajax({
                url: "/StockCount/SaveAdjustments",
                datatype: "json",
                type: "GET",
                 async: true,
                 //Zonecode: zonecode,
                data: { TeamID: teamId, BinCode: bincode, ItemNo: itemno, LotNo: lotno, ExpDate: expdate, Qty: Qty },
                success: function (data) {
                    if (data.success) {

                         $('<div></div>').appendTo('body')
                         .html("<div><h5>" + data.message + "</h5></div>")
                         .dialog({ modal: true, title: '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.StockCountSheet + " - " + TWI.InventoryAutomated.Resources.GlobalResource.Save)', zIndex: 10000, autoOpen: true, width: 500, resizable: true,
                                   buttons: { Ok: function () { $(this).dialog("close"); } } });

                        //alert(data.message);
                        window.location.href = "/StockCount/StockCountSheetTest";
                        RefreshAllocationList('@Convert.ToInt32(Session["TeamID"])');
                        $("#divAdjustments").hide();
                    }
                    else if (!data.success && data.message === "1") {
                         $('<div></div>').appendTo('body')
                            .html("<div><h5>Item already exists in the list, cannot create a new entry. <br/> Do you wish to update the quantity, Click 'Yes' to proceed or 'No' to cancel.</h5></div>")
                            .dialog({
                            modal: true, title: '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.StockCountSheet + " - Save")', zIndex: 10000, autoOpen: true,
                                width: 500, resizable: true,
                            buttons: {
                                Yes: function () {

                                    $.ajax({
                                        url: "/StockCount/UpdateAllocation",
                                        type: "GET",
                                        datatype: "Json",
                                        data: { TeamID: teamId, BinCode: bincode, ItemNo: itemno, LotNo: lotno, ExpDate: expdate, Qty: Qty },
                                        success: function (data) {
                                            if (data.success) {

                                                $('<div></div>').appendTo('body')
                                                    .html("<div><h5>" + data.message + "</h5></div>")
                                                    .dialog({
                                                        modal: true, title: '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.StockCountSheet + " - " + TWI.InventoryAutomated.Resources.GlobalResource.Save)', zIndex: 10000, autoOpen: true, width: 500, resizable: true,
                                                        buttons: {
                                                            Ok: function () {
                                                                $(this).dialog("close");
                                                            }
                                                        }
                                                    });
                                                window.location.href = "/StockCount/StockCountSheetTest";
                                            }
                                        }
                                    });
                                    $(this).dialog("close");
                                },
                                No: function () {
                                    $(this).dialog("close");

                                    }
                                },
                                close: function (event, ui) {
                                      $(this).remove();
                                 }
                            });

                    }
                    else {
                        $('<div></div>').appendTo('body')
                        .html("<div><h5>" + data.message + "</h5></div>")
                        .dialog({ modal: true, title: '@Html.Raw(TWI.InventoryAutomated.Resources.GlobalResource.StockCountSheet + " - " + TWI.InventoryAutomated.Resources.GlobalResource.Save)', zIndex: 10000, autoOpen: true, width: 500, resizable: true,
                                  buttons: { Ok: function () { $(this).dialog("close"); } } });
                    }
                }
            });
        }

        function ShowAdjustment() {

            //if ($("#hdnAdj").val() === "0") {
            //    $.ajax({
            //        url: '/StockCount/GetItemList',
            //        type: 'GET',
            //        datatype: 'Json',
            //        async: true,
            //        success: function (data) {
            //            console.log(data);
            //            $("#ddlItems").empty();
            //            for (var i = 0; i < data.itemno.length; i++) {
            //                var binopt = new Option(data.itemno[i].ItemName, data.itemno[i].ItemName);
            //                $("#ddlItems").append(binopt);
            //            }
            //            $("#ddlItems").editableSelect({ effects: 'slide' });
            //            $("#hdnAdj").val = "1";
            //        }
            //    });
            //}

            $("#divAdjustments").show();
            $("#txtItemNo").empty();
            $("#txtPhyQty").empty();
            $("#txtLotNo").empty();
            $("#txtExpDate").empty();
        }

        function CancelAdjustment() {
            $("#divAdjustments").hide();
            $("#txtItemNo").empty();
            $("#txtPhyQty").empty();
            $("#txtLotNo").empty();
            $("#txtExpDate").empty();
        }

    </script>
}
