
@{
    ViewBag.Title = "Inbound Menus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TWI.InventoryAutomated.DataAccess;
<div class="container">
    @*padding-left:20px;*@
    <div class="row" style="padding-bottom:30px;">
        @*@if (CommonServices.IsUserhasAccessOnPage("PurchaseOrders") || CommonServices.IsUserSuperAdmin(Convert.ToString(Session["InstanceName"]), Convert.ToString(Session["CompanyName"])))
        {*@
        <div class="col-sm-4">
            <div class="input-group" style="float:left;margin:5px;">
                <button type="button" class="btn" style="width:200px; height:90px;background-color:#ded8d8 !important;border-radius:5px;" onclick="location.href='@Url.Action("Index", "PurchaseOrders")'">@TWI.InventoryAutomated.Resources.GlobalResource.InboundPurchaseOrders</button>
            </div>
        </div>
        @*}*@
        @*@if (CommonServices.IsUserhasAccessOnPage("PurchaseOrders") || CommonServices.IsUserSuperAdmin(Convert.ToString(Session["InstanceName"]), Convert.ToString(Session["CompanyName"])))
        {*@
        <div class="col-sm-4">
            <div class="input-group" style="float:left;margin:5px;">
                <button type="button" class="btn" style="width:200px; height:90px;background-color:#ded8d8 !important;border-radius:5px;" onclick="location.href='@Url.Action("Index", "TransferOrder")'">@TWI.InventoryAutomated.Resources.GlobalResource.InboundTransferOrders</button>
            </div>
        </div>
        @*}*@
        <div class="col-sm-4">
            <div class="input-group" style="float:left;margin:5px;">
                <button type="button" class="btn" style="width:200px;height:90px;background-color:#ded8d8 !important;border-radius:5px;" onclick="location.href='@Url.Action("Home", "Home")'">@TWI.InventoryAutomated.Resources.GlobalResource.MainMenu</button>
            </div>
        </div>

    </div>

</div>
