@model TWI.InventoryAutomated.Models.Location
@{
    /**/

    Layout = null;
}

@using (Html.BeginForm("CreateUpdateLocation", "Location", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.ID)
    //Model.SCID = Convert.ToInt32(ViewBag.SCID);
<div class="form-group txtNotification">
    @Html.LabelFor(model => model.Code, TWI.InventoryAutomated.Resources.GlobalResource.Code, new { @class = "LabelAttribs" })
    @{
        if (Model.ID == 0)
        {
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @maxlength = 10 } })
        }
        else
        {
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @maxlength = 10, @readonly = true } })
        }
    }
</div>
    <div class="form-group txtNotification">
        @Html.LabelFor(model => model.Description, TWI.InventoryAutomated.Resources.GlobalResource.Description, new { @class = "LabelAttribs" })
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @maxlength = 50 } })
    </div>

    <div class="form-group" style="float:left !important">

        @{
            bool IsActive = false;
            if (Model.IsActive == null) { IsActive = false; }
            else { IsActive = Convert.ToBoolean(Model.IsActive); }
         }
        @Html.CheckBoxFor(model => IsActive) 

        @*<input type="checkbox" id="chkClose" checked="@Model.IsActive" />*@
        <label><span class="control-label" style="font-family:Calibri if;font-weight:600;padding-left:4px;font-size:14px;">Active</span></label>
    </div>
    <div class="form-group" style="float:right !important;">
        <input type="submit" value="@TWI.InventoryAutomated.Resources.GlobalResource.Save" class="btn btn-primary" />
        <input type="reset" value="@TWI.InventoryAutomated.Resources.GlobalResource.Cancel" class="btn" onclick="Cancelbutton();" />
    </div>
}
